body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
  margin-top: 5px;
}
