@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro");
.card {
    margin: 0px auto;
    background-color: white;
    box-shadow: 0px 5px 20px #555;
    height: 300px;
}
.card-container {
    max-height: 300px;
}

.card a {
    color: #333;
    text-decoration: none;
}

.card-body {
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}

.card-date {
    font-family: 'Source Sans Pro', sans-serif;
}

.card-title,
.card-sinopsis {
    font-family: 'Playfair Display', serif;
}

.card-date,
.card-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.card-date,
.card-sinopsis,
#case-title {
    color: #777;
}

#case-title {
    position: absolute;
    font: 18px 'Microsoft YaHei';
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
}